# **HEART DISEASE PREDICTION**
            - Prediction of Heat disease using logistic regression.

**Import required libraries**

In [95]:
import numpy as np
import pandas as pd
import sweetviz as sv
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.linear_model import LogisticRegression
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

**Read the dataset**

In [91]:
df = pd.read_csv(r"C:\Users\SAI ASWIN B\Downloads\archive (4)\framingham.csv")
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

**Cleaning the Dataset**

In [31]:
df.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [32]:
df.shape

(4238, 16)

In [33]:
df.drop(['male','education','sysBP','diaBP'],axis = 1,inplace = True)

In [34]:
df.head()

,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,BMI,heartRate,glucose,TenYearCHD
0,39,0,0.0,0.0,0,0,0,195.0,26.97,80.0,77.0,0
1,46,0,0.0,0.0,0,0,0,250.0,28.73,95.0,76.0,0
2,48,1,20.0,0.0,0,0,0,245.0,25.34,75.0,70.0,0
3,61,1,30.0,0.0,0,1,0,225.0,28.58,65.0,103.0,1
4,46,1,23.0,0.0,0,0,0,285.0,23.10,85.0,85.0,0

In [39]:
df["cigsPerDay"].fillna(df["cigsPerDay"].mode()[0],inplace = True)

In [40]:
df["cigsPerDay"].isnull().sum()

0

In [43]:
Null_list = ['BPMeds','totChol','BMI','heartRate','glucose']
for i in Null_list:
    df[i].fillna(df[i].mode()[0],inplace = True)

In [44]:
df.isnull().sum()

age                0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              4238 non-null   int64
 1   currentSmoker    4238 non-null   int64
 2   cigsPerDay       4238 non-null   float64
 3   BPMeds           4238 non-null   float64
 4   prevalentStroke  4238 non-null   int64
 5   prevalentHyp     4238 non-null   int64
 6   diabetes         4238 non-null   int64
 7   totChol          4238 non-null   float64
 8   BMI              4238 non-null   float64
 9   heartRate        4238 non-null   float64
 10  glucose          4238 non-null   float64
 11  TenYearCHD       4238 non-null   int64
dtypes: float64(6), int64(6)
memory usage: 397.4 KB

In [92]:
df.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4238.000000,4238.000000,4133.000000,4238.000000,4209.000000,4185.000000,4238.000000,4238.000000,4238.000000,4188.000000,4238.000000,4238.000000,4219.000000,4237.000000,3850.000000,4238.000000
mean,0.429212,49.584946,1.978950,0.494101,9.003089,0.029630,0.005899,0.310524,0.025720,236.721585,132.352407,82.893464,25.802008,75.878924,81.966753,0.151958
std,0.495022,8.572160,1.019791,0.500024,11.920094,0.169584,0.076587,0.462763,0.158316,44.590334,22.038097,11.910850,4.080111,12.026596,23.959998,0.359023
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,89.875000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

**Dataset Profile**

In [93]:
#Profile for the dataset

my_report = sv.analyze(df)
my_report.show_html()

                                             |                                             | [  0%]   00:00 ->…

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

**Train and Test the model**

In [55]:
X = df.drop('TenYearCHD',axis = 1)
y = df['TenYearCHD']

In [94]:
X_train, X_test,y_train, y_test = train_test_split(X,y,random_state=40,test_size=0.30)

**Use Logistic Algorithm**

In [73]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\SAI ASWIN B\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [74]:
pred = logmodel.predict(X_test)

In [75]:
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [76]:
accuracy = accuracy_score(y_test,pred)
accuracy

0.845125786163522

In [97]:
confusionMatrix = confusion_matrix(y_test,pred)
confusionMatrix

array([[1063,    8],
       [ 189,   12]], dtype=int64)

**Predict**

In [96]:
print(logmodel.predict([[61,1,30.0,0.0,1,1,0,225.0,30.58,65.0,200]]))

[1]

**Dump as pickle file**

In [85]:
with open('model_log_pkl','wb') as model_log_pkl:
    pickle.dump(logmodel,model_log_pkl)